<h1>Products</h1>

<div class="products-container">
  <% @products.each do |product| %>
    <div class="product-card">
      <h3><%= link_to product.title, product_path(product), class: "product-title-link" %></h3>
      <p class="description"><%= product.description %></p>
      <div class="product-details">
        <span class="price">Price: $<%= product.price %></span>
        <span class="stock">Stock: <%= product.stock_quantity %></span>
      </div>
    </div>
  <% end %>
</div>

<p>Total products: <%= @products.count %></p>
